<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Галактика событий</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style type="text/css">
    	.root {
    		margin-left: 50px;
    		display: block;
    	}

    	.card {
    		width: 400px;
    		height: 400px;
    	}
    </style>
</head>
<body>
	<nav>
    <div class="nav-wrapper">
      <a href="#" style="margin-left: 50px;" class="brand-logo">Галактика событий, версия 0.0.2</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li class="active"><a href="/">Главная</a></li>
        <li><a href="registration.html">Регистрация</a></li>
        <li><a href="auth.html">Авторизация</a></li>
        <li><a href="addevent.html">Добавить событие</a></li>
      </ul>
    </div>
  </nav>
	<div class="root">
		<h1>Лучшие события:</h1>
		<div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="office.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Название события</span>
      <p><a href="#">Ссылка на событие</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Дата/время<i class="material-icons right">close</i></span>
      <p>category</p>
      <p>#tag1</p> <p>#tag2</p>
      <p>Описание события</p>
    </div>
  </div>
	</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Programmers</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Дмитрий Карташов</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Денис Рубан</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Илья Рзянкин</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2021 Galactic Events
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>
</body>
</html>